testWPF/testWPF.v11.suo
testWPF/testWPF.v11.suo
testWPF/testWPF/bin/Debug/testWPF.exe
testWPF/testWPF/bin/Debug/testWPF.exe
testWPF/testWPF/bin/Debug/testWPF.pdb
testWPF/testWPF/obj/Debug/MainWindow.baml
testWPF/testWPF/obj/Debug/MainWindow.g.cs
testWPF/testWPF/obj/Debug/testWPF.exe
testWPF/testWPF/obj/Debug/testWPF.g.resources
testWPF/testWPF/obj/Debug/testWPF.pdb